:root {
    --dev-border-style: solid black;
    --default-padding: 5px;
    --default-vertical-margin: 10px;
    --default-horizontal-margin: 25px;
    --footer-height: 9rem;
}

html, body  {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: 700;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.3em;
}

header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: var(--default-vertical-margin) var(--default-horizontal-margin);
    padding: 5px;
    /* TODO: Specify Width. The pseudo-elements will grow with the page instead */
}

header h3 a {
    text-decoration: none;
}

header::before, header::after {
    flex-grow: 1;
}


main {
    display: block;
    flex: 1;
    padding: 5px;
    margin: var(--default-vertical-margin) var(--default-horizontal-margin);
    margin-bottom: 20px;
}

article {
    margin: 5px;
}

#quiz-start {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#quiz-start h2, #quiz-start input {
    margin-top: 10px;
    padding: 5px;
}

#quiz-start input {
    margin-bottom: 15px;
}
section {
    margin: 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Developer Styles */
body {
    border: var(--dev-border-style);
}

header {
    border: var(--dev-border-style);
}

main {
    border: var(--dev-border-style);
}

article {
    border: var(--dev-border-style);
}

section {
    border: var(--dev-border-style);
}

footer {
    border: var(--dev-border-style);
    margin: 0px;
    height: var(--footer-height);
}