:root {
    --dev-border-style: solid black;

    --footer-height: 9rem;
}

html, body  {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.17em;
}


header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 25px;
    padding: 5px;
    /* TODO: Specify Width. The pseudo-elements will grow with the page instead */
}

header::before, header::after {
    flex-grow: 1;
}


main {
    flex: 1;
}

article {
    margin: 5px;
}

#quiz-start {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#quiz-start h2, #quiz-start input {
    margin-top: 10px;
    padding: 5px;
}

#quiz-start input {
    margin-bottom: 15px;
}
section {
    margin: 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Developer Styles */
body {
    border: var(--dev-border-style);
}

header {
    border: var(--dev-border-style);
}

main {
    border: var(--dev-border-style);
}

article {
    border: var(--dev-border-style);
}

section {
    border: var(--dev-border-style);
}

footer {
    border: var(--dev-border-style);
    margin: 0px;
    height: var(--footer-height);
}